
.vscode/**
StringsRepeated-xc/baks/**
CMakeFiles/**
StringsRepeated-xc/CMakeFiles/**
output.txt
output-new.txt
results.txt
StringsRepeated-xc/main
StringsRepeated-xc/.vscode/**
StringsRepeated-xc/output
